annotated-types
anyio
certifi
cffi
charset-normalizer
clickhouse-connect
cryptography
distro
dnspython
et-xmlfile
exceptiongroup
h11
httpcore
httpx
idna
jiter
lz4
numpy
openai
openpyxl
pandas
pdfminer.six
pdfplumber
pillow
pycparser
pydantic
pydantic_core
pymongo
pypdfium2
python-dateutil
python-dotenv
pytz
PyYAML
six
sniffio
tqdm
typing-inspection
typing_extensions
tzdata
urllib3
zstandard